
@font-face {
    font-family: 'BTraffic';
    src: url('../font/BTraffic.ttf') format('ttf');
}

*{
    font-family: ' IRANSans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;';
    box-sizing: border-box;   
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.dir{
    direction: rtl;
}

.dir1{
    direction: ltr;
}

/* navbar */

.myNav {
    background-image: linear-gradient(to bottom, rgb(86, 18, 150), rgb(101, 32, 133));
    height: 3.4em;
    
}

.btn1{
    width: 1em!important;
}

.text {
    color: white;
    direction: rtl;
    font-size: .7em;
}

.profile {
    width: 1.5em;
    height: 1.5em;
    border: 2px solid white;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    color: rgb(243, 237, 237);
    font-size: 1.5em;
}

.profile:hover {
    color: goldenrod;
    cursor: pointer;
}

.logo-text{
    padding-right: .5em!important;
}

.navbar-brand{
    margin-right: 0!important;
}

.logo {
    /* position: fixed; */
    width: 1.5em;
    height: 2.4em;
    padding-right: 0;
}
.side-collapse{
    display: none;
    width: 3em;
    background: none;
    border: none;
    color: white;
}

/* end navbar */

/* sidebar */
.sidebar1{
    width: 8%;
    height: 100%;
    padding-left: .8em;
    }    

.sidebar{
    padding-top: 20%;
    height: 100%;
    text-align: center;
}

.side-text{
    font-size: 1em;;
    color: rgb(180, 179, 179);
    text-align: center;
    margin-top: -15px!important;
}

.side-item{
    margin-bottom: 1.5em;
    display: grid;
}

.side-item:hover{
    background-color: rgb(142, 157, 204);
    width: 4em;
    height: 2.5em;
    align-items: center;
    border-radius: 20px;
}

.side-item1:hover{
    background-color: rgb(142, 157, 204);
    width: 4em;
    height: 2.5em;
    align-items: center;
    border-radius: 20px;
}

.side-item1{
    background-color: rgb(230, 230, 230);
   
    align-items: center;
    border-radius: 20px;
}

.sideimg{
    width: 1.6em;
    height: 1.9em;
}

/* end sidebar */

/* main */

.page{
    width: 92%;
}

.main{
    background-color: rgb(241, 241, 241);
    box-shadow: -2px 0 10px rgb(180, 179, 179) inset;
    margin-right: -20px!important;   
}

.input {
    background-color: rgb(230, 228, 228);
    border: 1px solid rgb(190, 189, 189);
    border-radius: 8px;
}

.input-nav{
    border-left-color: transparent; 
}
 
.form-control{
    width: 10em!important;
    border-radius: 5px!important; 
}

.input-btn{
    border: none;
}
.input-btn:hover,
.input-btn:focus{
    background: transparent;
}

::placeholder{
    font-size: .8em;
}

.text1 {
    color: rgb(6, 148, 204);
    font-size: 90%;
    
}

.nav1 {
    border-radius: 10px;
    direction: rtl;
    margin-left: .5em!important;
    margin-right: .5em!important;
    background-color: rgb(230, 228, 228);
}

/* 6box-top */
.row1{
    margin-left: 0!important;
    margin-right: 1em!important;
    display: flex;
    justify-content: center;
}

.countainer{
    max-width: 1500px;
   position: relative!important;
}

.box-align{
    text-align: center;
    
}


.btn-background {
    color: rgb(46, 46, 212);
}

.mod:hover,
.box:hover
{
    background-color: rgb(190, 189, 189);
}

.box{
    background-color: white;
    border: 1px solid rgb(190, 189, 189);
    border-radius: 25px;
    width: calc(calc(100% / 6) - 16px)!important;
    margin-left: .5em;
    margin-right: .5em;
}

.mod-input{
    width: 50%!important;
}

.input-btn1{
    width: 50%!important;
    border: 1px solid rgb(88, 88, 196);
    border-radius: 10px;
    background-color: rgb(88, 88, 196);
}

.btn-inp:hover{
    background-color: rgb(236, 195, 117);    
}

.mod-btn:hover,
.input-btn:hover{
    background-color: rgb(236, 195, 117);
}

.head-bt{
    width: 4em;
    height: 4.5em;
}


.box-6{
    background-color: rgb(230, 228, 228);
}

.text0 {
    color: rgb(6, 148, 204);
    font-size: .8rem!important;
}

.nav-icon1{
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
}

.row-card{
    margin-left: .2em;
    margin-right: -2em;
   
}

.card-btn{
    background-color: rgb(29, 29, 175);
    font-size: .8em;
    width: 7em;
    height: 2em;
    margin-top: .7em;
    color: white;
}
.card{
    background-color: rgb(230, 228, 228);
    border: none;
    border-radius: 10px;
    width: calc(calc(100% / 3) - 2em)!important;
    margin-left: .5em;
    margin-right: .5em;
    padding-left: 3px!important;
    padding-right: 3px!important;
    margin-bottom: 1em;
}

.card-body{
    display: grid;
    grid-template-columns: auto auto;
    padding-right: 0; 
    padding-left: 0; 
    height: auto;
    grid-auto-rows: 5em;
    
}

.box-inner{
    background-color: white;
    border: 1px solid rgb(197, 196, 196);
    border-radius: 15px;
    width: 100%!important;
    height: 4.6em;
    margin-left: 2.5px;
    margin-right: 2.5px;
    margin-bottom: .5em;
    padding-top: 0.1em;
    padding-right: .5em;
    
}

.heart{
    color: rgb(190, 189, 189);
}


.display{
    width: 2em;
    height: 2.2em;
}

.heart:hover{
    color: gold!important;
}


.icons{
    font-size: 4rem!important;
}

.icons:hover{
    color: rgb(19, 45, 78)!important;
    animation: search 2s;
}

.box-text{
    font-size: 11px;
}

.head-text{
    font-size: 12px;  
    padding-bottom: 0px!important;  
    margin-bottom: 0px!important;  
}

.svg{
    width: 5em;
    height: 6em
}

.act{
    background-color: rgb(221, 214, 214);
    border: none;
}

.card-btn:hover{
    background-color: rgb(7, 7, 85);
    color: white;    
}



.mybtn-1{
    background-color: white;
    border: none;
}
.mybtn-2{
    background-color: rgb(230, 228, 228);
    border: none;
}

.side-btn{
    border: none;
}

.mod{
    background-color: white;
    border: none;
}

/*  Modal1 */
.modal1 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal1-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  
  .close1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close1:hover,
  .close1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer!important;
  } 

  /* end modal1 */

  /*  Modal2 */
  
.modal2 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal2-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  
  .close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close2:hover,
  .close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

  /* end modal2 */

  @media (max-width:991.98px){
      .sidebar1{
          display: none;
      }

      .side-collapse{
          display: inline-block;
      }

      .page{
          width: 100%;
          padding: 0;
      }

      .main{
          padding-top: 0!important;
      }
      .nav1{
        margin-left: 0!important;
        margin-right: 0!important;
        border: none;
    }


    .box{
        width: calc(calc(100% / 3) - 30px)!important;
        height: 9em;
        margin-top: 1%;
    }

    .row-card{
        margin-left: .5em;
        margin-right: 3em!important;
        padding-left: .5em;
        padding-right: 1em!important;
        border-radius: 20px;
        
    }
    .card-body{
        display: grid;
        grid-template-columns: auto auto auto;
        padding-right: 1em; 
        padding-left: 0; 
        height: auto;
        grid-auto-rows: 5em;
        
    }

    
    .card{
        width: 100%!important;
        margin-left: 1em;
        margin-right: 2em!important;
        padding-left: 1em!important; 
        padding-right: 1em!important;
        border-radius: 20px!important;
        direction: rtl;
    }
    .box-inner{
       
        width: 100%!important;
        margin-left: 2.5px;
        margin-right: 1px;
        margin-bottom: .5em;
        padding-top: 12px;
        
    }

  }

@media (max-width:767.98px){
    
    .head-bt{
        width: 3.5em;
        height: 4em;
    }
    
    .page{
        width: 100%;
    }

    .row1{
        margin-right: 3%!important;
    }

    .row2{
        margin-right: 3%!important;
    }

    
    .card-body{
        grid-auto-rows: 5.5em;
    }

    .side-btn{
        display: inline-block;
    }



    .side-btn1{
        background-color: rgb(230, 228, 228);
        width: 8vh;
        padding-bottom: 0;
        padding-top: 0;
        border-radius: 20px;
        margin-bottom: 8px;
        }

    
    .sideimg{
        width: 3vh;
        height: 3vh;
    }

    .exit-bt{
        margin-top: 8px;
        width: 5vh;
        height: 5vh;
    }


    .heart{
        padding-bottom: .2em;
    }
    .display{
        width: 2.5em;
        height: 2.5em;
    } 
    

    .box-inner{
        width: calc(100% - .5em)!important;
        height: 5em;
    }

    
}

@media (max-width:699.98px){
    .card-body{
        display: grid;
        grid-template-columns: auto auto;
        padding-right: 0; 
        padding-left: 0; 
        height: auto;
        grid-auto-rows: 5.4em;
        
    }
    .box-inner{
        
        width: calc(100% - .5em)!important;
        height: 4.6em;
        margin-left: 2.5px;
        margin-right: 2.5px;
        margin-bottom: .5em;
        padding-top: .1em;
        
    }
}

@media (max-width:540.98px){
    .main{
        box-shadow: 2px -1px 10px rgb(180, 179, 179);
    }

    .box{
        width: calc(calc(100% / 2) - 60px)!important;
        height: 9em;
        margin-top: 1%;
    }

    .card-body{
        display: grid;
        grid-template-columns: auto;
        padding-right: 0; 
        padding-left: 0; 
        height: auto;
        grid-auto-rows: 5.4em;
        
    }
    .box-inner{
        height: 4.6em;
    }

    .nav1{
        margin-right: 6%!important;
    }
    
}

 @media (max-width:489.98px){
    .form-group{
        padding-right: 2em!important;
    }
}

@media (max-width:360.98px){
    .box{
        width: calc(100% - 60px)!important;
        margin-top: 1em;
        margin-right: 1em;
        
    }

    .row-card{
        margin-left: 1em;
    }

    .sm-tx{
        margin-bottom: 0!important;
    }

    .profile{
        display: none!important;
    }

    
}

@media (max-width:298.98px){

    .top-left{
        width: 100;        
    }

    .myNav{
        direction: rtl;
    }

    .mynav{
        height: auto;
    }

    .form-group{
        display: none;
    }
}



